aws_access_key = "<ACCESS_KEY>"
aws_secret_key = "<SECRET_KEY>"

region                   = "us-east-1"
availability_zones_count = 2

project = "FilesAppApi"

vpc_cidr         = "10.0.0.0/16"
subnet_cidr_bits = 8
